<p id="notice"><%= notice %></p> <!-- フラッシュ-->

<h1>Diaries</h1>

<table>
  <thead>   <!-- -表の見出し部分 -->
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>   <!-- 表の内容 -->
    <% @diaries.each do |diary| %>
      <tr>   <!-- trタグでひとまとまりのレコードを表す -->
        <td><%= diary.title %></td>
        <td><%= diary.body %></td>
        <td><%= link_to 'Show', diary %></td><!-- diaryは diary_path(diary.id)の省略形-->
        <td><%= link_to 'Edit', edit_diary_path(diary) %></td>  <!-- (diary)は diary.idの省略形 -->
        <td><%= link_to 'Destroy', diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diary', new_diary_path %>
